body {
  background-color: #f1f1f1; /* Light gray background */
  font-family: "Arial", sans-serif;
}

h2 {
  text-align: center;
  color: #007bff;
  margin-top: 20px;
}

.container {
  padding-bottom: 50px;
}
